<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/index.css"
</head>
<body class="text-center" style="margin-top: 10vh;">
    <h1 class="pl-4">Aadhar Authentication</h1>
    <div class="" style="margin-top: 50vh;">
        <a href="/user"> <button class="px-4 py-2" style="font-size: 20px;background-color: rgba(255,255,255,0.5);">User</button></a>
        <a href="/admin"><button class="px-4 py-2" style="font-size: 20px; background-color: rgba(255,255,255,0.5);">Admin</button></a>
    </div>
   
</body>
</html>