<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aadhar Auth</title>
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="/css/userPage.css"
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="my-4">Submit Your Aadhar for Authentication</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="custon-file mb-3">
                    <input type="file" name="file" id="file" class="form-control custom-file-input">
                    <input type="submit" value="Submit" class="form-control btn btn-danger btn-block">
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>